.login{
    
}
.link-btns{
    text-decoration: none;
    height:35px;
    width: 100%;
    background-color: #3f50b5;
    color:white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}